<!doctype html>

<html>

<head>
	<title>Help Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet" type="text/css">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>	

	<div class="header">
		<div>
		<a href="settings" id="leftOption"><button class="remove_mobile"> back </button></a>
		<h2>Help Page</h2>
		</div>
	</div>
 
<div id="helpPage">

	<p>This page will assist users with the core functionalities of the application. Below are commonly asked questions linked to answers.
	</p>

	<ul>
		<li><a href="#q1">What is ParkNow?</a> </br></li>

		<li><a href="#q2">How do I check for available parking spots?</a> </br></li>

		<li><a href="#q3">How do I set reminders?</a> </br></li>

		<li><a href="#q4">How do I turn on/off notifications for a specific parking lot?</a> </br></li>

		<li><a href="#q5">What are the differences between parking permits?</a> </br></li>

	</ul>

	<div id="q1">
		<h4>What is ParkNow?</h4>
		<p>This is a parking assistant application aimed to help UCSD students more quickly find parking. It allows users to view current parking conditions across all parking lots and parking structures on campus in real-time. Users may enable notifications on a parking lot of their choice to recieve updates as to when parking lots are filling up or are full.</p>
	</div>

	<div id="q2">
		<h4>How do I check for available parking spots?</h4>
		<p>Navigate to the parking page by clicking the "Parking" on the menu bar located at the bottom of the screen. Each lot will be displayed on screen with the corresponding number of available parking spots next to the lot name. The parking lots and structures will be listed in decreasing order of number of spots.</p>
	</div>

	<div id="q3">
		<h4>How do I set alarms?</h4>
		<p>To do so, navigate to the alarms page by clicking "Alarms" on the menu bar located at the bottom of the screen. Click add to create a new alarm. Proceed to enter the desired alarm time and associated days in which the alarm will ring. Click "save", and now the user will be able to recieve sound notifications on those selected days.</p>
	</div>

	<div id="q4">
		<h4>How do I turn on/off notifications for a specific parking lot?</h4>
		<p>Users may enable notifications to recieve updates as to how fast the lot is filling up and when it is full. To turn on notifications, navigate to the parking page and click on the desired lot. The lot will be highlighted in green indicating that notifications has been turned on. The user will now recieve updates when the lot is full or has less than 10 spots available. To disable notifications, click on the same lot name again. </p>
	</div>

	<div id="q5">
		<h4>What are the differences between the parking permits?</h4>
		<ul>
			<li>B – staff and graduate students</li>
			<body> who's eligble?</br>
			Staff with titles in these categories: academic, manager and senior professionals, career and casual, resident physician, medical intern, graduate and postdoctoral students, and visiting scholars. 
			</body>

			<li>S – students</li>
			<body> who's eligble?</br>
			Undegraduate students, graduate and postdoctoral students, and visiting scholars.
			</body>

			<li>V – vistor</li>
			<body> who's eligble?</br>
			Anyone may purchase this permit at pay stations. 
			</body>

			<li>M – motorcycle</li>
			<body> who's eligble?</br>
			Anyone parking a motorcycle, motorized scooter, motorized bike (motorbike)
			</body>

			<li>NWS – night & weekend student</li>
			<body> who's eligble?</br>
			Anyone may purchase annual and quarterly night and weekend student permits.
			</body>
		</ul>
	</div>

</div>

</body>
</html>