<!doctype html>

<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet" type="text/css">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/parking.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body background="images/blurred.jpg">
	<div id="parkingHeader">
		<h2>Available Parking</h2>
		<div class="parkStyle2" id="parkDisplay">
			permit
		</div>
	</div>
	<!--
	<div class="message">
		Select a parking structure to recieve notifications	 
	</div>	
	-->

	<div class="options">
		<ul class="list-unstyled listItem">
			<li id="1"> 		
				<div class="inner" id="name">Gliderport</div> 
				<div class="inner num">
					<div class="number" id="n1">
						63
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>	
			</li>
			<li id="2"> 
				<div class="inner" id="name">Regents</div> 
				<div class="inner num">
					<div class="number" id="n2">
						54
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li id="3"> 
				<div class="inner" id="name">Pangea</div> 
				<div class="inner num">
					<div class="number" id="n3">
						4
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div> 
			</li>
			<li id="4"> 
				<div class="inner" id="name">Osler</div> 
				<div class="inner num">
					<div class="number" id="n4">
						6
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li id="5"> 
				<div class="inner" id="name">Hopkins</div> 
				<div class="inner num">
					<div class="number" id="n5">
						3
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li id="6"> 
				<div class="inner" id="name">Gilman</div> 
				<div class="inner num">
					<div class="number" id="n6">
						0
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li id="7"> 
				<div class="inner" id="name">P406</div> 
				<div class="inner num">
					<div class="number" id="n7">
						9
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div> 
			</li>
			<li id="8"> 
				<div class="inner" id="name">P407</div> 
				<div class="inner num">
					<div class="number" id="n8">
						5
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>

		</ul>
	</div> 	

	<table>
		<tr>
			<th bgcolor="white">
				<img src="images/parking_select.png" id="appLogo" style="width:50px;height:50px;">
				<form action="parking">
					<input type="submit" value="Parking" class="remove_mobile"/>
				</form>
			</th>
			<th bgcolor="white">
				<a href="reminders">
					<img src="images/reminding.png" id="appLogo" style="width:50px;height:50px;">
				</a>	
				<form action="reminders">
					<input type="submit" value="Reminders" class="remove_mobile"/>
				</form>
			</th>
			<th bgcolor="white">
				<a href="settings">
					<img src="images/setting.png" id="appLogo" style="width:50px;height:50px;">
				</a>	
				<form action="settings">
					<input type="submit" value="Settings" class="remove_mobile"/>
				</form>
			</th>
		</tr>	
	</table>	

	<script>

		if(sessionStorage.getItem("n1") == "0") {
			$("#n1").text("0");
		}else if(sessionStorage.getItem("n1") != null) {
			$("#n1").text(sessionStorage.getItem("n1"));
		}
		if(sessionStorage.getItem("n2") == "0") {
			$("#n2").text("0");
		}else if(sessionStorage.getItem("n2") != null) {
			$("#n2").text(sessionStorage.getItem("n2"));
		}
		if(sessionStorage.getItem("n3") == "0") {
			$("#n3").text("0");
		}else if(sessionStorage.getItem("n3") != null) {
			$("#n3").text(sessionStorage.getItem("n3"));
		}
		if(sessionStorage.getItem("n4") == "0") {
			$("#n4").text("0");
		}else if(sessionStorage.getItem("n4") != null) {
			$("#n4").text(sessionStorage.getItem("n4"));
		}
		if(sessionStorage.getItem("n5") == "0") {
			$("#n5").text("0");
		}else if(sessionStorage.getItem("n5") != null) {	
			$("#n5").text(sessionStorage.getItem("n5"));
		}
		if(sessionStorage.getItem("n6") == "0") {
			$("#n6").text("0");
		}else if(sessionStorage.getItem("n6") != null) {
			$("#n6").text(sessionStorage.getItem("n6"));
		}
		if(sessionStorage.getItem("n7") == "0") {
			$("#n7").text("0");
		}else if(sessionStorage.getItem("n7") != null) {
			$("#n7").text(sessionStorage.getItem("n7"));
		}
		if(sessionStorage.getItem("n8") == "0") {
			$("#n8").text("0");
		}else if(sessionStorage.getItem("n8") != null) {
			$("#n8").text(sessionStorage.getItem("n8"));
		}
		

		// Call to begin spot variation system
		startVariation();

		/*
		 * Function that enables the parking spot variability
		 */
		function startVariation() {
			var parking = ["n1", "n2", "n3", "n4", "n5", "n6", "n7", "n8"];
			// dictionary to match id with parking lot name
			var lotName = {
			    "n1": "Gliderport",
			    "n2": "Regents",
			    "n3": "Pangea",
			    "n4": "Osler",
			    "n5": "Hopkins",
			    "n6": "Gilman",
			    "n7": "P406",
			    "n8": "P407"
			};

			// need to add a stopping condition whenever spots turn to 0
			var myTimer = setInterval(function(){
				// create a randomized selector tool to determine which parking structure to update
				var lotNum = Math.floor((Math.random() * 8));
				var lot = parking[lotNum];
				console.log("lot getting edited: " + lotName[lot]);

				// current spot is not zero
				if(sessionStorage.getItem(lot) != "0") {
					var thisLot = document.getElementById(lot);
					var currSpotNum = parseInt($(thisLot).text());
					currSpotNum = currSpotNum + spotVariationNum();

					// parking spot hit 0 spots
					if(currSpotNum <= 0) {
						currSpotNum = 0;

						// trigger an alert if the notification is on.
						if(sessionStorage.getItem("notification") == "true") { // send alert
					 		if(sessionStorage.getItem("currLot") == lotName[lot]) {
					 			
					 			swal({
								  	title: "Parking Alert",
								  	text: lotName[lot] + " is full",
								  	icon: "warning",
								})

					 			var sound = new Audio("sounds/honk.mp3");
								sound.play();
					 		}
						}

					}
					$(thisLot).text(currSpotNum.toString());
					sessionStorage.setItem(lot, currSpotNum.toString());
					

				} else {
					// spot is zero, don't edit it

				}
			}, timeVariationNum()); 	
		}

		/*
		 * determines time interval for when a spot will get updated
		 */
		function timeVariationNum() {
			var myNum = parseInt(Math.random() * 3000) + 1000; // change interval back to 20000
			console.log("timeVariationNum: " + myNum);
			return myNum;
		}

		/*
		 * Function used to generate a random number interval for parking spot variations
		 */
		function spotVariationNum() {
			var myNum = Math.floor((Math.random() * 3) + 1);
			//console.log("spotVariationNum: " + myNum);
			var determine = Math.random();
			//console.log(determine);
			if(determine >= 0.5) {
				return myNum;
			}else {
				return myNum * -1;
			}
		}
	</script>	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
