<!doctype html>

<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet" type="text/css">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/parking.js"></script>
</head>

<body class="screen">
	<div class="header">
		<h2>Available Parking</h2>
	</div>

	<div class="message">
		Select a parking structure to recieve notifications	 
	</div>	


 <!--Either use lists or just make multiple divs to separate different parking structures. Can use https://www.w3schools.com/w3css/w3css_mobile.asp as a referernce tool -->

	<div class="options">
		<ul class="list-unstyled">
			<li> 		
				<div class="inner">
					Gliderport
				</div> 
				<div class="inner num">
					63
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>	
			</li>
			<li> 
				<div class="inner">
					Regents
				</div> 
				<div class="inner num">
					54
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li> 
				<div class="inner">
					Pangea
				</div> 
				<div class="inner num">
					2
					<div>
						<p class=spot>spots</p>	
					</div>
				</div> 
			</li>
			<li> 
				<div class="inner">
					Gilman
				</div> 
				<div class="inner num">
					0
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li> 
				<div class="inner">
					P707
				</div> 
				<div class="inner num">
					12
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li> 
				<div class="inner">
					P234
				</div> 
				<div class="inner num">
					23
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li> 
				<div class="inner">
					Osler 
				</div> 
				<div class="inner num">
					0
					<div>
						<p class=spot>spots</p>	
					</div>
				</div> 
			</li>
			<li> 
				<div class="inner">
					P407
				</div> 
				<div class="inner num">
					34
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>

		</ul>
	</div> 	

	<table>
		<tr>
			<th bgcolor="white">
				<form action="parking">
					<input type="submit" value="Parking" />
				</form>
			</th>
			<th>
				<form action="reminders">
					<input type="submit" value="Reminders" />
				</form>
			</th>
			<th>
				<form action="settings">
					<input type="submit" value="Settings" />
				</form>
			</th>
		</tr>	
	</table>	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
