<!doctype html>

<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet" type="text/css">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/parking.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body class="screen">
	<div class="header">
		<h2>Available Parking</h2>
		<div class="parkStyle2" id="parkDisplay">
			permit
		</div>
	</div>

	<div class="message">
		Select a parking structure to recieve notifications	 
	</div>	


 <!--Either use lists or just make multiple divs to separate different parking structures. Can use https://www.w3schools.com/w3css/w3css_mobile.asp as a referernce tool -->

	<div class="options">
		<ul class="list-unstyled">
			<li id="1"> 		
				<div class="inner" id="name">
					Gliderport
				</div> 
				<div class="inner num">
					<div classs="number">
						63
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>	
			</li>
			<li id="2"> 
				<div class="inner" id="name">
					Regents
				</div> 
				<div class="inner num">
					<div classs="number">
						54
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li id="3"> 
				<div class="inner" id="name">
					Pangea
				</div> 
				<div class="inner num">
					<div classs="number">
						2
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div> 
			</li>
			<li id="4"> 
				<div class="inner" id="name">
					Osler
				</div> 
				<div class="inner num">
					<div classs="number">
						2
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li id="5"> 
				<div class="inner" id="name">
					Hopkins
				</div> 
				<div class="inner num">
					<div classs="number">
						1
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li id="6"> 
				<div class="inner" id="name">
					Gilman
				</div> 
				<div class="inner num">
					<div classs="number">
						0
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>
			<li id="7"> 
				<div class="inner" id="name">
					P406 
				</div> 
				<div class="inner num">
					<div classs="number">
						0
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div> 
			</li>
			<li id="8"> 
				<div class="inner" id="name">
					P407
				</div> 
				<div class="inner num">
					<div classs="number">
						0
					</div>
					<div>
						<p class=spot>spots</p>	
					</div>
				</div>
			</li>

		</ul>
	</div> 	

	<table>
		<tr>
			<th bgcolor="white">
				<form action="parking">
					<input type="submit" value="Parking" />
				</form>
			</th>
			<th>
				<form action="reminders">
					<input type="submit" value="Reminders" />
				</form>
			</th>
			<th>
				<form action="settings">
					<input type="submit" value="Settings" />
				</form>
			</th>
		</tr>	
	</table>	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
