<!doctype html>

<html>
<head>
	<title>Add Permit Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/parking.js"></script>
</head>
<body background="images/blurred.jpg">
	
	<div class="announcement">
		<h2>SELECT PARKING PERMIT</h2>
	</div>	

	<!--
	<button onclick="goBack()" class="remove_mobile" id="permit_logout">Logout</button>
	-->

	<div class="permits">
		<ul class="list-unstyled">
			<li id="S"> S </li>
			<li id="B"> B </li>
			<li id="V"> V </li>
			<li id="MOTORCYCLE"> MOTORCYCLE </li>
			<li id="NIGHTS/WEEKEND"> NIGHTS/WEEKEND </li>
			<li id="CARPOOL"> CARPOOL </li>
			<li id="DISABLED"> DISABLED </li>
		</ul>	
	</div>

	<div>
		<button class="block" id="startUsing" onclick="window.location.href = 'parking';">START USING PARKNOW</button>	
	</div>
	<script>
		function goBack() {
		  	window.history.back();
		}	
	</script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>