<!doctype html>

<html>
<head>
	<title>Add Reminder</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="header">
		<div>
		<a href="reminders" id="rightOption"> save </a>
		<a href="reminders" id="leftOption"> cancel </a>
		<h2>Add Reminder</h2>
		</div>
	</div>


	<div class="dropdown">
  		<button onclick="myFunction()" class="dropbtn">Remind me __ mins before</button>
  		<div id="myDropdown" class="dropdown-content">
		    <a href="#">5</a>
		    <a href="#">10</a>
		    <a href="#">15</a>
		    <a href="#">20</a>
  		</div>
	</div>
<!--
	<div>
		<a href="reminders" id="rightOption"> save </a>
		<a href="reminders" id="leftOption"> cancel </a>
	</div>
-->

	<!-- Javascript Code taken from https://www.w3schools.com/howto/howto_js_dropdown.asp -->
	<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function myFunction() {
		  document.getElementById("myDropdown").classList.toggle("show");
		}

		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
		  if (!event.target.matches('.dropbtn')) {
		    var dropdowns = document.getElementsByClassName("dropdown-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
	</script>	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>