<!doctype html>

<html>
<head>
	<title>Add Reminder</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet" type="text/css">
</head>
<body class="screen">
	<div class="header">
		<div>
		<!--a href="reminders" id="rightOption"> save </a-->
		<a href="reminders" id="leftOption"><button> cancel </button></a>
		<h2>Add Reminder</h2>
		</div>
	</div>

	<form id="addReminderForm" role="form" method="get" action="/add">
	<div class="container">
		<label for="classTime">Time of Class</label>
    	<input type="time" placeholder="Enter Time" name="time" required>

    	<p> <br/> </p>

    	<label for="reminderTime">Reminder</label>
    	<input type="number" placeholder="Time in Minutes" name="reminder" required>

    	<p> <br/> </p>

    	<label for="day">Days of Week</label>

    	<div class="weekDays-selector">
		  <input type="checkbox" id="mon" class="weekday" />
		  <label for="mon">M</label>
		  <input type="checkbox" id="tue" class="weekday" />
		  <label for="tue">Tu</label>
		  <input type="checkbox" id="wed" class="weekday" />
		  <label for="wed">W</label>
		  <input type="checkbox" id="thu" class="weekday" />
		  <label for="thu">Th</label>
		  <input type="checkbox" id="fri" class="weekday" />
		  <label for="fri">F</label>

		</div>

    </div>

    <div class="savebtn">
			<input type="submit" id="submitBtn" class="block" value="Save"></input>
	</div>
	</form>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>