<!doctype html>

<html>
<head>
	<title>Welcome Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
</head>
<body class="screen">
	<div class="header">
		<h2> Welcome to our <br/> Parking App! </h2>
	</div>

	<!--
	<div>
		<img src="logo" alt="App Logo">
	</div>	
	-->

	<p class="description">
	This app is aimed to help UCSD students more quickly find parking on campus.
	<br/><br/>
	It allows users to view current parking conditions on campus.
	<br/><br/>
	Users can enable notifications on a parking area to recieve updates as to when parking lots are filling up or are full.
	<br/><br/>
	Users also have the ability to set reminders for when to leave their home in the morning to guaruntee parking on campus.
	</p>


	<button class="block" id="welcomeButton" onclick="window.location.href = 'login';"> CONTINUE </button>

	<!--
	<div class="next">
		<form action="login">
			<input type="submit" value="CONTINUE" />
		</form>
	</div>	
	-->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>