<!doctype html>

<html>
<head>
	<title>Welcome Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<h2> Welcome to our <br/> Parking App! </h2>
	</div>
	<p class="description">
	This is a parking assistant application aimed to help UCSD students more quickly find parking on campus.
	<br/><br/>
	This application logs users in using TritonLink SSO, so it has access to user's current class schedules.
	<br/><br/>
	It allows users to view current parking conditions across all parking lots and parking structures on campus in real-time.
	<br/><br/>
	Users can enable notifications on a parking area of their choice to recieve updates as to when parking lots are filling up or are full.
	<br/><br/>
	Users also have the ability to set reminders for when to leave their home in the morning to guaruntee parking on campus.
	</p>

	<div class="next">
		<form action="login">
			<input type="submit" value="CONTINUE" />
		</form>
		<!--
		<a href="login"> CONTINUE </a>
		-->
	</div>	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>