<!doctype html>

<html>
<head>
	<title>Welcome Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
</head>
<body background="images/blurred.jpg">

	<div>
		<img src="images/logo.png" alt="App Logo" id="appLogoLogin" style="width:100px;height:100px;">
	</div>	

	<h2 id="welcomeTag"> Park Now </h2>
	
	<hr>

	<p class="description">
		Park Now helps UCSD students view current parking conditions, so you'll never be late again!
		<br/><br/>
	
	</p>


	<button id="welcomeButton" onclick="window.location.href = 'login';"> SIGN IN </button>
	<br/>
	<br/>
	<br/>
	<button id="signupButton" onclick="window.location.href = 'signup';"> SIGN UP </button>
	<!--
	<div class="next">
		<form action="login">
			<input type="submit" value="CONTINUE" />
		</form>
	</div>	
	-->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>