
/* ENTIRE SCREEN */
.screen {
	background-color: #f9f1e3;

}

/* PAGE HEADERS */
.header {
	top: 0;
	position: sticky;
	text-align: center;
	border-color: #fdc56c;
	background-color: #ffcb72;
	padding-top: 15px;
	padding-bottom: 10px;
	z-index: 1;
}

/* PAGE FOOTER */ 
table {
	font-size: 14.3px;
	width: 100%;
	background-color: #fdc56d;
	background-color: #ffcb72;
	z-index: 1;
	position: absolute;
	bottom: 0;
}

th {
	border: 2px solid white;
	padding-right: 16px;
	padding-left: 16px;
	text-align: center;
	text-decoration-color: black;
}

/* PARKING OPTIONS */
.options {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 30px;
	position: center;
	background-color: #f4eada;
	overflow-y: auto;
	height: 65vh;
}

.options li {
	border-radius: 10px;
	border: 2px white;
	background-color: white;
	box-shadow: 5px 3px 3px #9b9b9b;
	position: relative;
}

.options li {
	height: 100px;
	margin: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}

.inner {
	display: inline-block;
	vertical-align: middle;
}

.num {
	float: right;
	right: 0;
	text-align: center;
}

.spot {
	font-size: 18px;
	float:right;
}

.message {
	border-radius: 20px;
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
	background-color: white;
	position: sticky;
}


/* text on permit's page */
.announcement {
	position: absolute;
	margin-top: 80px;
	margin-bottom: 40px;
	text-align: center;
}

.permits {
	margin-top: 150px;
	overflow: auto;
	height: 56vh;

}

.permits li{
	border-radius: 10px;
	margin: 10px;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 20px 0 rgba(0, 0, 0, 0.15);
}

#startUsing {
	position: fixed;
	bottom: 20px;
}

/* NEXT BUTTON */
.block {
  display: block;
  width: 90%;
  border: none;
  background-color: #878b91;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 5%;
}

#welcomeButton {
  display: block;
  width: 90%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 5%;
}

#loginButton {
  display: block;
  width: 90%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 5%;
}

#submitBtn {
  display: block;
  width: 90%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 5%;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
/* login vai TritonLink page */
.container {
	margin-top: 200px;
	vertical-align: 0;
	text-align: center;
	font-size: 20px;
}

.description {
	margin: 20px;
	font-size: 17px;
}

/* SETTINGS PAGE */
.settings {
	font-size: 30px;
	position: center;
	overflow-y: auto;
	position: relative;
	height: 638px;

}

.settings li {
	border-radius: 10px;
	width: 86.5%;
	margin-left: 25px;
	margin-right: 25;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.settings th {
	background-color: white;
}

.parkStyle { /* Continue to add styling and color */
	display: inline-block;
	border: 1px solid black;
	float: right;
	width: 44%;
	height: 5%;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

.parkStyle2 { /* Permit visibility on parking page*/
	font-size: 20px;
	font-weight: bold;
	border: 1px solid black;
	width: 200px;
	margin: 0 auto;
}

#buttons {
	border: 1px solid black;
	margin-left: 10px;
}

#rightOption {
	position: absolute;
	right: 0;
	margin: 10px;
}

#leftOption {
	position: absolute;
	left: 0;
	margin: 10px;
}

/* REMINDERS PAGE */
#reminderDiv {
	height: 77vh;
	overflow-y: auto;
	position: relative;
}

.reminderList {
	position: center;
	font-size: 18px;
}

.reminderList li {
	border-radius: 10px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.psetting {
	border: 1px solid black;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Style The Dropdown Button */
.dropbtn {
  border-radius: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#helpPage {
	margin: 25px;
}

/* on-off switch reminders page */ 
.onoffswitch {
    position: relative; width: 72px;
    top: -50px;
    left:230px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #FDC56C; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 40px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/* END on-off switch reminders page */ 

/* add reminders - style weekday buttons */
.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #4CAF50;
  color: #ffffff;
}
/* END add reminders - style weekday buttons */


#appLogo {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

/* viewAlt design for A/B Testing */
.timeDisplay {
	font-size: 35px;
	padding-top: 20px;
}

.alarmContent {
	margin-left: 20px
}

#reminderDivB {
	height: 77vh;
	overflow-y: auto;
}

.reminderListB {
	position: center;
	font-size: 18px;
}

.reminderListB li {
	border-radius: 10px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 20px 0 rgba(0, 0, 0, 0.15);
}

.remove_mobile {
	-webkit-appearance: none;
}

















