
/* PAGE HEADERS */
.header {
	top: 0;
	position: sticky;
	text-align: center;
	border: 2px solid black;
	background-color: white;
	/*background-color: #cce5ff;*/
	padding-top: 5px;
	padding-bottom: 5px;
}

/* PAGE FOOTER */ 
table {
	font-size: 18.3px;
	width: 100%;
	background-color: white;
	z-index: 1;
	position: sticky;
	bottom: 0;
	
}

th {
	border: 3px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 16px;
	padding-left: 16px;
	text-align: center;
	text-decoration-color: black;
}

/* PARKING OPTIONS */
.options {
	padding: 15px;
	font-size: 30px;
	position: center;
	/*background-color: #cce5ff;*/
}

.options li {
	/*background-color: #cce5ff;*/
	border: 2px solid black;
	margin: 10px;
	padding: 20px;
}

.message {
	text-align: center;
	font-size: 15px;
	/*padding-top: 25px;*/
	margin-top: 25px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.announcement {
	margin-top: 80px;
	margin-bottom: 40px;
	text-align: center;
}

.permits li{
	border: 2px solid black;
	margin: 10px;
	padding: 20px;
	font-size: 20px;
	text-align: center;
}

.next {
	position: absolute;
	bottom: 0;
	border: 2px solid black;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 9.5%;
	font-size: 20px;
}

.container {
	/*background-color: #cce5ff;*/
	margin-top: 200px;
	vertical-align: 0;
	text-align: center;
	font-size: 20px;
}

.description {
	margin: 30px;
	font-size: 18px;
}

/* SETTINGS PAGE */
.settings {
	font-size: 30px;
	position: center;
}

.settings li {
	border: 1px solid black;
	width: 100%;
}

#buttons {
	border: 1px solid black;
	margin-left: 10px;
}

#rightOption {
	position: absolute;
	right: 0;
	margin: 10px;
}

#leftOption {
	position: absolute;
	left: 0;
	margin: 10px;
}


/* DROPDOWN MENU FOR SETTING REMINDERS */
/* Dropdown Button */
.dropbtn {
  /*background-color: #3498DB;*/
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  /*background-color: #2980B9;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 80px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: #f1f1f1;*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}







































